In [49]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

credit_df = pd.read_csv('Credit_card.csv')

credit_df = credit_df.dropna() #should i drop all of em...or do it for specific columns..that seems tedious idk.
credit_df.columns = credit_df.columns.str.strip().str.lower().str.replace(' ', '_')
credit_df['gender'] = credit_df['gender'].map({'M':0, 'F':1}) #come back and make this a float girl, and come get the NaN values
credit_df['car_owner'] = credit_df['car_owner'].map({'Y':0,'N':1})
credit_df['propert_owner'] = credit_df['propert_owner']. map({'Y':0, 'N':1})

# info = ["type_income", "education", "marital_status", "housing_type", "type_occupation"]

# for i in range(len(info)):


ohe_property= pd.get_dummies(credit_df['type_income']) 
ohe_edu= pd.get_dummies(credit_df['education'])
ohe_marital = pd.get_dummies(credit_df['marital_status'])
ohe_housing = pd.get_dummies(credit_df['housing_type'])
ohe_occupation = pd.get_dummies(credit_df['type_occupation']) #must figure out how to get this all in one code....maybe a function?

# Concatenate the DataFrames horizontally along columns
credit_df_encoded = pd.concat([credit_df, ohe_property, ohe_edu, ohe_marital, ohe_housing, ohe_occupation], axis=1)

# Drop the original categorical columns since you now have their one-hot encoded versions
credit_df_encoded = credit_df_encoded.drop(['type_income', 'education', 'marital_status', 'housing_type', 'type_occupation'], axis=1)

credit_df_encoded #maybe i should map it instead...

,ind_id,gender,car_owner,propert_owner,children,annual_income,birthday_count,employed_days,mobile_phone,work_phone,...,Laborers,Low-skill Laborers,Managers,Medicine staff,Private service staff,Realty agents,Sales staff,Secretaries,Security staff,Waiters/barmen staff
8,5010864,0,0,0,1,450000.0,-18173.0,-678,1,0,...,False,False,False,False,False,False,False,False,False,False
9,5010868,0,0,0,1,450000.0,-18173.0,-678,1,0,...,False,False,False,False,False,False,False,False,False,False
10,5010869,0,0,0,1,450000.0,-18173.0,-678,1,0,...,False,False,False,False,False,False,False,False,False,False
11,5018498,1,0,0,0,90000.0,-18950.0,-1002,1,1,...,False,False,False,False,False,False,False,False,False,False
13,5018503,1,0,0,0,90000.0,-18950.0,-1002,1,1,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1540,5024049,1,0,0,1,144000.0,-12903.0,-2924,1,0,...,False,False,False,False,False,False,False,False,False,False
1542,5118268,0,0,1,1,360000.0,-11294.0,-3536,1,0,...,False,False,False,False,False,False,False,False,False,False
1544,5023655,1,1,1,0,225000.0,-10229.0,-1209,1,0,...,False,False,False,False,False,False,False,False,False,False
1545,5115992,0,0,0,2,180000.0,-13174.0,-2477,1,0,...,False,False,True,False,False,False,False,False,False,False
1546,5118219,0,0,1,0,270000.0,-15292.0,-645,1,1,...,False,False,False,False,False,False,False,False,False,False